# ========================
# IDE
# ========================
.idea/
*.iml

# ========================
# Docker
# ========================
/docker-compose.override.yml
**/Dockerfile

# ========================
# Symfony
# ========================
.env
.env.local
.env.local.php
.env.*.local
var/
vendor/
public/bundles/

/phpunit.xml
/.phpunit.cache/
