# ========================
# IDE
# ========================
.idea/
*.iml

# ========================
# Docker
# ========================
/docker-compose.override.yml

# ========================
# Symfony
# ========================
.env
.env.local
.env.local.php
.env.*.local
var/
vendor/
public/bundles/

/phpunit.xml
/.phpunit.cache/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
